pipeline/Delete_Incremental_Ingestion_copy1.json
{
	"name": "Delete_Incremental_Ingestion_copy1",
	"properties": {
		"activities": [
			{
				"name": "Azure_Sql_To_Lake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Last_Cdc",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Current_TimeStamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM @{pipeline().parameters.schema}.\n              @{pipeline().parameters.table}\n              WHERE \n              @{pipeline().parameters.cdc_col} >\n             '@{activity('Last_Cdc').output.value[0].cdc}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SQL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_Parquet_Sink",
						"type": "DatasetReference",
						"parameters": {
							"Container": "bronze",
							"Folder": {
								"value": "@pipeline().parameters.table",
								"type": "Expression"
							},
							"File": {
								"value": "@concat(pipeline().parameters.table,'_',variables('Current'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Last_Cdc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_Json_Dynamic",
						"type": "DatasetReference",
						"parameters": {
							"Container": "bronze",
							"Folder": "cdc",
							"File": "cdc.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Current_TimeStamp",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Current",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If_Incremental_Data",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Azure_Sql_To_Lake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Azure_Sql_To_Lake').output.dataRead,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Delete_Empty_File",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Ds_Parquet_Sink",
									"type": "DatasetReference",
									"parameters": {
										"Container": "bronze",
										"Folder": {
											"value": "@pipeline().parameters.table",
											"type": "Expression"
										},
										"File": "@concat(pipeline().parameters.table,'_',variables('Current'))"
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Updated_Last_Cdc",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Max_Cdc",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "cdc",
											"value": {
												"value": "@activity('Max_Cdc').output.resultSets[0].rows[0].cdc",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Json_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"Container": "bronze",
										"Folder": "cdc",
										"File": "empty.json"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Json_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"Container": "bronze",
										"Folder": "cdc",
										"File": "cdc.json"
									}
								}
							]
						},
						{
							"name": "Max_Cdc",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LS_SQL_DATABASE",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "SELECT MAX (@{pipeline().parameters.cdc_col}) AS cdc FROM\n            @{pipeline().parameters.schema}.\n            @{pipeline().parameters.table}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string"
			},
			"table": {
				"type": "string"
			},
			"cdc_col": {
				"type": "string"
			},
			"from_date": {
				"type": "string"
			}
		},
		"variables": {
			"Current": {
				"type": "String"
			}
		},
		"annotations": []
	}
}