pipeline/Incremental_Loop.json
{
	"name": "Incremental_Loop",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Loop_Input",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Azure_Sql_To_Lake",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Last_Cdc",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Current_TimeStamp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM @{item().schema}.\n              @{item().table}\n              WHERE \n              @{item().cdc_col} >\n              '@{if(empty(item().from_date),\n              activity('Last_Cdc').output.value[0].cdc,\n              item().from_date)}'\n             \n\n\n              ",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Ds_Parquet_Sink",
									"type": "DatasetReference",
									"parameters": {
										"Container": "bronze",
										"Folder": {
											"value": "@item().table",
											"type": "Expression"
										},
										"File": {
											"value": "@concat(item().table,'_',variables('Current'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Last_Cdc",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "DS_Json_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"Container": "bronze",
										"Folder": {
											"value": "@{item().table}_cdc",
											"type": "Expression"
										},
										"File": "cdc.json"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Current_TimeStamp",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Current",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If_Incremental_Data",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Azure_Sql_To_Lake",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Azure_Sql_To_Lake').output.dataRead,0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Delete_Empty_File",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "Ds_Parquet_Sink",
												"type": "DatasetReference",
												"parameters": {
													"Container": "bronze",
													"Folder": {
														"value": "@item().table",
														"type": "Expression"
													},
													"File": {
														"value": "@concat(item().table,'_',variables('Current'))",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Updated_Last_Cdc",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Max_Cdc",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"additionalColumns": [
													{
														"name": "cdc",
														"value": {
															"value": "@activity('Max_Cdc').output.resultSets[0].rows[0].cdc",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "DS_Json_Dynamic",
												"type": "DatasetReference",
												"parameters": {
													"Container": "bronze",
													"Folder": {
														"value": "@{item().table}_cdc",
														"type": "Expression"
													},
													"File": "empty.json"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_Json_Dynamic",
												"type": "DatasetReference",
												"parameters": {
													"Container": "bronze",
													"Folder": {
														"value": "@{item().table}_cdc",
														"type": "Expression"
													},
													"File": "cdc.json"
												}
											}
										]
									},
									{
										"name": "Max_Cdc",
										"type": "Script",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "LS_SQL_DATABASE",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "SELECT MAX (@{item().cdc_col}) AS cdc FROM\n            @{item().schema}.\n            @{item().table}",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Loop_Input": {
				"type": "array",
				"defaultValue": [
					{
						"schema": "dbo",
						"table": "DimUser",
						"cdc_col": "updated_at",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "DimArtist",
						"cdc_col": "updated_at",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "DimTrack",
						"cdc_col": "updated_at",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "DimDate",
						"cdc_col": "weekday",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "FactStream",
						"cdc_col": "stream_timestamp",
						"from_date": ""
					}
				]
			}
		},
		"variables": {
			"Current": {
				"type": "String"
			}
		},
		"annotations": []
	}
}